.produkte { grid-area: a1; }
.betellungen { grid-area: a2; }
.kunden { grid-area: a3; }
.support { grid-area: a4; }

.grid-container {
	grid-gap: 10px;
	margin: auto;
	width: 70%;
	display: grid;
	justify-content: space-evenly;
	grid-template-areas:
		'a1 a2'
		'a3 a4';
}
