@charset "UTF-8";

/*author martenkracke */

.hardwareliste, .softwareliste, .peripherieliste, .beliebtliste { 
	display: inline-flex;
	align-items: stretch;
	gap: 0.3em;
	margin-bottom: 3em;
}

.produkt {
	padding-top: 1em;
	text-decoration: none;
	color: black;
	flex: 1 1 1em;
}

.produkt > img {
	object-fit: contain;
	max-height: 8em;
}