@charset "UTF-8";

/*author clemensbeck */

.hardwareliste, .softwareliste, .peripherieliste, .beliebtliste { 
	display: flex;
	justify-content: space-justify;
	align-items: stretch;
	gap: 0.3em;
}

.produkt {
	text-decoration: none;
	color: black;
	flex: 1 1 1em;
}

.produkt > img {
	object-fit: contain;
	max-height: 8em;
}