@charset "UTF-8";

/*author dennishasselbusch */

.benutzerdaten { grid-area: a1; }
.benutzername { grid-area: a2; }
.vorname { grid-area: a3; }
.nachname { grid-area: a4; }
.email { grid-area: a5; }
.passwort { grid-area: a6; }
.passwort-repeat { grid-area: a7; }
.anschrift { grid-area: a8; }
.strasse { grid-area: a9; }
.hausnummer { grid-area: a10; }
.postleitzahl { grid-area: a11; }
.stadt { grid-area: a12; }
.agb { grid-area: a13; }
.registrieren { grid-area: a14; }
.fehlermeldung { grid-area: a15; color: red !important; }
.anmelden { grid-area: a16; }
.abbrechen { grid-area: a17; }


.grid-container {
	grid-gap: 10px;
	margin: auto;
	width: 70%;
	display: grid;
	grid-template-areas:
		'a1 a1'
		'a2 a2'
		'a3 a4'
		'a5 a5'
		'a6 a7'
		'a8 a8'
		'a9 a10'
		'a11 a12'
		'a13 a13'
		'a14 a14'
		'a15 a15'
		'a16 a17';
}