@charset "UTF-8";

/*author martenkracke */

.supportticket { grid-area: a1; }
.vorname { grid-area: a2; }
.nachname { grid-area: a3; }
.email { grid-area: a4; color}
.betreff { grid-area: a5; }
.inhalt { grid-area: a6; }
.abschicken { grid-area: a7; }
.abbrechen { grid-area: a8; }

.grid-container {
	grid-gap: 10px;
	margin: auto;
	width: 70%;
	display: grid;
	grid-template-areas:
		'a1 a1'
		'a2 a3'
		'a4 a4'
		'a5 a5'
		'a6 a6'
		'a7 a8';
}