@charset "ISO-8859-1";
/*author clemensbeck */


.produkte { grid-area: a1; }
.adresse { grid-area: a2; }
.strasse { grid-area: a3; }
.hausnummer { grid-area: a4; }
.postleitzahl { grid-area: a5;}
.stadt { grid-area: a6; }
.agb { grid-area: a7; }
.bestellen { grid-area: a8; }
.abbrechen { grid-area: a9; }

.grid-container {
	grid-gap: 10px;
	margin: auto;
	width: 70%;
	display: grid;
	grid-template-areas:
		'a1 a1'
		'a2 a2'
		'a3 a4'
		'a5 a6'
		'a7 a7'
		'a8 a9';
}
